.banner-container {
  height: 550px;
  background: url("https://image.freepik.com/free-psd/minimalist-book-concept-with-glasses-cup-coffee_23-2148355632.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.over-lay {
  width: 100%;
  height: 100%;
  background: rgba(160, 3, 3, 0.26);
  position: absolute;
  z-index: 10;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
